.navbar {
    background: #D20101 !important;
}

.nav-link {
    color:white !important;
}

.center-table {
    width: 70%;
    float: right;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
}

.left-form {
    width: 25%;
    float: left;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 25px;
}

.banner {
    width: 100%;
}

.schedule {
    margin: auto;
    width: 50%;
    padding-top: 15px;
}

.card {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.carousel-item {
    height: 500px;
    background: #777;
    color: white;
    font-size: 25px;
    position: relative;
}

.carousel-item img{
    min-width: 100%;
    max-width: none;
    opacity: 0.4;
}